# PostgreSQL - MLflow
PG_USER=mlflow
PG_PASSWORD=mlflow
PG_DATABASE=mlflow_db

# PostgreSQL - Airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow_db

# MinIO (S3)
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MLFLOW_BUCKET_NAME=mlflow-artifacts

# Airflow
AIRFLOW_SECRET_KEY=mysecretkey

# Dataset fallback // Solo sirve si no tenemos el archivo .csv
STROKE_DATASET_URL=https://gist.githubusercontent.com/aishwarya8615/d2107f828d3f904839cbcb7eaa85bd04/raw/healthcare-dataset-stroke-data.csv
